body {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #fff;
	background: #333;
}

a {
	color : #fff;
	text-decoration : none;
}

h1 {
	text-align : center;
}

.slider-inner img { display : inline-block; }

